body {
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #450202;    
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #2c1717;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Assigning differnt color to h1,h2,p etc*/

h1 {
    color: rgb(0, 0, 0);
    font-size: 80px; /* Adjust the font size as needed */

}


h2 {color: rgb(54, 8, 8);
}


p {

    color: #f8f8f8;
}


/*logo settings*/
img#img200 {
    width: 20%;
    float: center;/* Floating the image to the center*/
    margin: 0 0 10px 10px; /* Adjust margins as needed */
}


/*Images configuration*/
/* Staking images vertically  */
.image-container {
    display: flex;
    flex-direction: column; /* Stacking images vertically */
}

.image-pair {
    display: flex;
    justify-content: flex-start; /* Align images at the start */
    margin-bottom: 30px; /* Add margin between image pairs */
}

.image-pair img,
.image-pair2 img {
    max-width: 100%; /* Adjust the width of images */
}

/*Putting the name of the images */
.image-with-title {
    position: relative;
    display: inline-block;
}

.image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust as needed */
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

/*Fix the images to the same size*/
.image-with-title img {
    width: 550px; /* Adjust the width as needed */
    height: 450px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin: 10px; /* Adjust the margin to change separation between images */

}

/*Size of the google form*/
/* Style for the custom button */
.custom-button {
    display: inline-block;
    padding: 15px 30px; /* Adjust the padding of the button */
    font-size: 18px; /* Adjust the font size of the button text */
    background-color: #450202; /* Change button background color */
    color: #fff; /* Change button text color */
    text-decoration: none; /* Remove underline from anchor element */
    border-radius: 8px; /* Adjust the border radius for rounded corners */
}

/* Style for button hover effect */
.custom-button:hover {
    background-color: #272626; ; /* Change button background color on hover */
}
